page-forgotpw {
	.bg-image{
		background-image: url('../assets/img/back.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}


.button {
  display:inline-block;
  width:100%;
  padding:10%;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgba(20,139,199,0.9);
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

}
